In [1]:
# pandas 모듈 불러오기
import pandas as pd

In [20]:
# 데이터 불러오기
import numpy as np
airports=pd.read_csv('https://raw.githubusercontent.com/ralbu85/SME_dataprocess2_2022/main/data/airports.csv',index_col='index')
routes = pd.read_csv('https://raw.githubusercontent.com/ralbu85/SME_dataprocess2_2022/main/data/routes.csv')

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...,...
67658,67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

## 데이터 설명
airports 세계 공항의 정보가, routes 에는 비행경로 (공항-공항간 연결)이 담겨있다. 다음 문제에 답하시오

## 문제1
위 데이터프레임을 합쳐서 비행 루트별 공항의 구체 정보를 갖는 다음과 같은 Column을 갖는 데이터프레임을 만드시오
* Source 공항 이름
* Source 공항의 경도(latitude)
* Source 공항의 위도(altitude)
* Source 공항의 국가
* Destination 공항의 이름
* Destination 공항의 공항의 경도(latitude)
* Destination 공항의 위도(altitude)
* Destination 공항의 국가

In [ ]:
# 정답작성

## 문제2
문제 1에서 만들어진 위도, 경도 정보를 이용하여 각 루트의 직선거리를 계산하고, 이를 distnace라는 새로운 열에 추가하시오.<br>
힌트: 지구 상의 서로 다른 두 지점의 직선거리는 Harversine 공식으로 계산이 가능하다. harversine의 파이썬 구현 코드는 다음과 같다. https://www.geeksforgeeks.org/haversine-formula-to-find-distance-between-two-points-on-a-sphere/
<br>

In [24]:
# 정답작성

## 문제3

문제 1에서 만들어진 데이터를 사용하여, 국내선 경로의 수가 가장 많은 국가를 순서대로 나열해 보시오. <br>
국내선 경로의 조건을 잘 생각해보시오

In [ ]:
# 정답작성